* {
    color: #555555;
    font-family: "proxima-nova",sans-serif;
    font-size: 18px;
    margin: 0 0 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 3px;
}

h4 {
    font-size: 20px;
    margin-bottom: 3px;
}

p {
    margin-bottom: 3px;
}

img {
    width: 300px; 
    border-radius: 20px;
}

.viewer3D {
    height: 300px; 
    width: 100px; 
    margin-left: 20px;
}

.userWrapper {
    display: flex; 
    flex-direction: column; 
    height: max-content; 
    width: 1uv;
}

.user1 {
    animation: mymoveR 2s ease-in 1;
    display: flex; 
    align-items: flex-start; 
    height: 300px; 
    padding: 30px; 
    padding-left: 0px; 
    justify-content: flex-start; 
    width: 780px;
}

.user2 {
    animation: mymoveR 2.5s ease-in 1;
    display: flex; 
    align-items: flex-start; 
    height: 300px; 
    padding: 30px; 
    padding-left: 0px; 
    justify-content: flex-start; 
    width: 780px;
}

@keyframes mymoveR {
    0%   {opacity: 0;}
    50%  {opacity: 0;}
    75%  {opacity: 0;}
    100% {opacity: 1;}
  }

  .profileSection {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
  }


