* {
    color: #555555;
    font-family: "proxima-nova",sans-serif;
    font-size: 18px;
    margin: 0 0 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 3px;
}

h4 {
    font-size: 20px;
    margin-bottom: 3px;
}

p {
    margin-bottom: 3px;
}

img {
    width: 250px; 
    height: 100%;
    border-radius: 5px;
}

.viewer3D {
    height: 225px; 
    width: 100px; 
    margin-left: 20px;
}

.userWrapper {
    display: flex; 
    justify-content: center;
    /* flex-direction: column;  */
    height: max-content; 
    width: 1uv;
}

.title {
    font-size: 40px; font-weight: 600; color: #545454; text-align: center;
        margin-top: 30px;
}

.user1 {
    animation: mymoveR 2s ease-in 1;
    display: flex; 
    align-items: flex-start; 
    height: 300px; 
    padding: 30px; 
    padding-left: 0px; 
    justify-content: flex-start; 
    width: 450px;
}

.user2 {
    animation: mymoveR 2.5s ease-in 1;
    display: flex; 
    align-items: flex-start; 
    height: 300px; 
    padding: 30px; 
    padding-left: 0px; 
    justify-content: flex-start; 
    width: 450px;
}

.dividingLine {
    width: 1px;
    height: 300px;
    opacity: .4;
    background-color: lightgray;
    border-radius: 20px;
    margin: 100px;
    margin-top: 200px;
}

@keyframes mymoveR {
    0%   {opacity: 0;}
    50%  {opacity: 0;}
    75%  {opacity: 0;}
    100% {opacity: 1;}
  }

  .profileSection {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
    width: 450px;
  }


